createdAt: "2019-08-02T12:52:10.138Z"
updatedAt: "2019-11-19T14:10:03.720Z"
type: "MARKDOWN_NOTE"
folder: "481e1531acabf01ae5de"
title: "Bookmarks"
tags: []
content: '''
  # Bookmarks
  
  - [OAuth.com - OAuth 2.0 Servers](https://www.oauth.com/)
    - Goes over OAuth and implenetations thereof. Really cool site, very informative. 
  - [Spring Cloud AWS](https://cloud.spring.io/spring-cloud-aws/spring-cloud-aws.html)
    - Spring Cloud AWS Library documentation
  - [AWS Resource and Property Types Reference - AWS CloudFormation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html)
    - AWS Template Reference. Very cool. 
  - [Best Practices for Running Apache Kafka on AWS \\| AWS Big Data Blog](https://aws.amazon.com/blogs/big-data/best-practices-for-running-apache-kafka-on-aws/)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
