createdAt: "2019-08-02T12:44:14.241Z"
updatedAt: "2019-08-02T12:44:25.260Z"
type: "MARKDOWN_NOTE"
folder: "481e1531acabf01ae5de"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
