createdAt: "2019-08-06T19:24:48.113Z"
updatedAt: "2019-11-02T10:55:05.153Z"
type: "MARKDOWN_NOTE"
folder: "a0297bfc77f01ccc53a6"
title: "AWS Certified Solutions Architect"
tags: []
content: '''
  # AWS Certified Solutions Architect
  
  ## AWS 10,000 Foot Overview
  
  ### Regions and Availability Zones
  - 19 Regions, 57 Availability Zones (2019 is going to bring 5 more regions and 15 more AZs)
  - __Availability Zone__: Can be thought of as a Data Center.
  - __Region__: Geographical area consisting of two or more availability zones.
  - __Edge Locations__: Endpoints for AWS which are used for caching contents. Typically consists of CloudFront, or Amazon's CDN.
  
  ### Services to focus on to pass exam:
    - Analytics
    - __Security, Identity, and Compliance__, __Network and Content Delivery__, __Compute__, __Storage__, __Databases__  Desktop and App Streaming, Management and Governance, Machine Learning, Migration and Transfer
  
  ### Quiz 1:
  - What does VPC Stand for?
    - Virtual Private Cloud
  - An AWS VPC is a component of which group of AWS Services?
    - Networking Services
  - What does an AWS Region Consist of?
    - A distinct location within a geographic area designed to provide high availability specific to geography.
  - Which statement best describes Availability Zones?
    - Distinct locations from within an AWS region that are engineered to be isolated from failures.
  - What is an AWS region?
    - A region is a geographical area divided into Availability Zones. Each region contains at least two Availability Zones.
  - Which of the following is correct?
    - /# of Edge Locations > # of Availability Zones > # of Regions
  - In which of the following is CloudFront content cached?
    - Edge Location
  - Which of the below are factors that have helped make public cloud so powerful?
    - The ability to try out new ideas and experiments wihout upfront commitment.
  
  ## Identity Access Management and S3
  
  - __IAM__: Identity Access Management
    - Centralized control of AWS
    - Shared access to your AWS account
    - Granular permissions
    - Identity Federation (users can log in with Facebook credentials, AD, etc)
    - Multifactor Authentication
    - Provides temporary access for users/devices/services when necessary. 
    - Allows to set up password rotation policy
    - Integrates with many AWS Services
    - Supports PCI DSS Compliance
  - __Users__: End users
  - __Groups__: Collection of users
  - __Roles__: Roles are created and assigned to _AWS Resources_
  - __Policies__: Documents (policy documents) give permissions as to what a User/Group/Role is able to do. The JSONS that defines what user/groups/roles are able to do.
  - Enable MFA for the root account to add layer of security
  - User Access Types:
    - _Programmatic Access_ created access key ID and secret access key to interact with AWS API, CLI, SDK, and other development tools. 
    - _AWS Management Console Access_ - access to the AWS Management Console
  - Always set up MFA on root account
  - It's possible to create and customize password policies
  
  ## Setting Up a Billing Alarm
  
  - Billing alarms are created within CloudWatch under Billing Alarms
  
  ## Amazon S3 101
  
  - S3: __S__ imple __S__ torage __S__ ervice. 
  - Safe place to store files
  - Files can be from 0 Bytes to 5 TB
  - Unlimited storage
  - Object-based meaning it allows you to upload files, containing: 
    - Key: The name of the object
    - Value: Data of the file, made up of sequence of bytes
    - Version ID: Self explanatory
    - Metadata: Self explanatory
    - Subresources: 
      - Access Control Lists
      - Torrent
  - Buckets must be unique globally because web addresses are created for the buckets created
  - Successful uploads will receive a 200 HTTP Code
  - You are able to make objects public by changing the bucket settings to allow public objects.
  - Tiering can be defined on an object-level or a bucket-level.
  - Control access to buckets using Bucket Access Controll List (ACL) or using Bucket Policies
  - Once a bucket enables versioning it cannot disable versioning, only suspended. 
  - Uploading a new version of the file resets the public access settings, so the files will not automatically be made public. 
  - Previous versions are still visible by clicking the link.
  - If you delete a versioned file, a delete marker is placed if you click the object itself and not a specific version. If you try to delete a specific version, the the version itself deletes.
  ### S3 Storage Tiers:
  _First byte latency is milliseconds for all tiers except Glacier_
   - Standard: 99.99% Availability, 99.99...(11 9s)% durability. Stored redundantly across multiple devices in multiple facilities, designed to sustain the loss of 2 facilites concurrently.
   - S3 - Infrequently Accessed: Data that is accessed less frequently but requires rapid access when needed. Lower fee but charged retrieval fee.
   - S3 One Zone - Infrequently Accessed: Lower-cost option for infrequently accessed data, do not require the resilience of mutliple Availability Zones
   - S3 - Intelligent Tiering: Designed to optimize costs by automatically moving data to the most cost-effective access tier.
  - S3 Glacier: Secure, durable, low-cost storage class for data archiving. Competitive with or cheaper than on-premises solution.
   - S3 Glacier Deep Archive: Amazon S3's lowest-cost storage class where a retrieval time of 12 hours is acceptable.
  
  ### How does data consistency work for S3?
  - __Read after Write consistency for PUTS of new Objects:__
    - Able to read a file immediately after writing it
  - __Eventual Consistency for overwrite PUTS and DELETES__
    - It can take some time for the overwrite to propogate. It could take a second to update.
    - "If you update an existing file or delete a file you may get the older version or you may not."
  - Amazon guarantess 99.99...% (11 9s) availability 
  - S3 offers:
    - Tiered Storage
    - Lifecycle Management
    - Versioning
    - Encryption
    - __MFA Delete__
    - Secure data using Access Control Lists and Policies
  - Billing: 
    - Storage: The more you store, the more you're billed
    - Requests
    - Storage Management Pricing
    - Data Transfer Pricing
    - Transfer Acceleration
      - Enables fast, easy, and secure transfers of files over long distances between your end users and an S3 bucket. Takes advantage of CloudFront's globally distributed edge locations.
      - Files get uploaded to an edge location, goes through the backbone network, speeds up uploads and downloads.
    - Cross-Region Replication
      - Uploading an object to one bucket in one region automatically gets uploaded to another bucket in another region
  
  ### S3 Security and Encryption
  - ALl buckets are private by default. 
  - Bucket policies: bucket-level
  - Access Control Lists: can go down to the object-level.
  - __Encryption in Transit__: Achieved by SSL/TLS
  - __Encryption at Rest (Server Side)__: Achieved by:
    - S3 Manged Keys - SSE - S3
    - AWS Key Management Service, Managd Keys - SSE - KMS
    - Servier Side Encryptiuon with Customer Provided Keys - SSE-C
  - __Enecryption at Rest (Client Side Encryption)__: Uploading encrypted objects
  
  ### S3 Lifecycle Management
  - Lifecycle rules can be created for current versions are previous versions.
  - After `x` amount of days, the current or previous (or both) versions can move to the tier specified in the rule.
  
  
  ---
  
  ## EC2 101
  
  ### Summary
  - Underlying hypervisors for EC2: Nitro and Xen
  - 4 Pricing Models:
    - On Demand: Fixed rate by the hour, no commitment
    - Reserved: Capacity reservation
    - Spot: Bid for the price
    - Dedicated Hosts: Dedicated hosts for your EC2 instances
  - EBS: Virtual Hard Disk Drive in cloud
    - Termination Protection is turned off by default, EC2 instance gets deleted then EBS volume gets deleted
  - EBS Root Volumes of DEFAULT AMIs cannot be encrypted
  - Additional volumes can be encrypted
  - Security group, all inbound traffic is blocked, all outbound is allowed. Security groups are STATEFUL, meaning inbound and outbound traffic are blocked
  - Cold HDD is cheapest option. 
  - EBS Snapshots are point in time copies, are incremental
  - Volumes will always be in same AZ as an EC2 instance
  
  - _On Demand_ - Pay a fixed rate by the hour
    - Low cost and flexible
    - Short term, spiky, unpredictable workloads
  - _Reserved_ - Capacity reservation at a significant discount
    - Stead state or predictable usage
    - Standard Reserved: Can't change instance type
    - Convertible Reserved: Can change instance type
    - Scheduled Reserved Instances: 
  - _Spot_ - Bid for the price you want for instance capacity
    - Flexible start/end times
    - If you terminate the instance yourself, AWS will still charge you for the hour the instance ran.
  - _Dedicated Instances_: Pretty much Amazon metal assigned to you
  - CloudWatch detailed monitoring monitors the instance more frequently than once every 5 minutes (every minute)
  - Termination protection is turned off by default
  - Default action is for root EBS volume to be deleted when instance is terminated. Can be changed to keep virtual HDD
  - EBS Root Volumes can be encrypted, you just have to create a snapshot of a root volume, create an encrypted copy of the snapshot, and the create an image with the encrypted root volume
    - Additional volumes can be encrypted
  - Roles are universal, you can use the role from any region.
  - Get instance metadata at http://169.254.169.254/latest/meta-data/
  
  ### Security Groups
  - Can't block IP addresses or ports using Security Groups
  - Everything is blocked by default with security groups
  - An EC2 instance can have more than on security group
  - Default:
    - All inbound traffic is blocked
    - All outbound traffic is allowed
  - Security Groups are stateful, meaning we don't have to change things for inbound and outbound ports. An inbound rule will allow traffic in and back out again.
  
  ### EBS 101
  
  - Elastic Block Store: Virtual hard disk in cloud. 
    - Each volume automatically replication within its AZ
    
    #### EBS volume types
    1. General Purpose SSD: Balances price and performance, max IOPS/volume: 16,000 
      - Balances price and performance
    2. Provisioned IOPS (SSD): Max IOPS/Volume: 64,000
      - Most performant
    3. Throuhgput Optimized HDD: IOPS/volume: 500
      - Low Cost HDD
    4. Cold Hard Disk Drive: Max IOPS/Volume: 250
      - Lowest cost
    5. Magnetic
      - Legacy HDD
  
    - Volumes can be modified, you can change the volume type and size.
    - Volumes can be moved to another AZ by creating a snapshot and creating a new image. The snapshot lives in S3.
    - Hardware Assited Virtualization allows you to create different types of EC2 instances
    - AMIs can also be copied across regions by copying the AMI from one region to another, then launching that AMI in the new region
    - Root volume for an EC2 instance is deleted when the EC2 instance is terminated, added volumes are persisted
    - AMIs can be created from both volumes and snapshots
    - Volumes will always be in the same AZ as the EC2 instance
  
  ### EBS vs Instance Store
  
  - All AMIs backed by instance store or EBS
  - The root volume is either an instance store or EBS
    - Instance store volumes can't be stopped--only rebooted or terminated. If the hypervisor fails, you will lose all data in an instance store since it is ephemeral
  
  ### Encrypted Root Volumes
  
  - Root volumes are now able to be encrypted for EBS. 
  - Unencrypted volumes can be encrypted, but they take on another process:
    - Create volume snapshot
    - Copy snapshot
    - Encrypt snapshot
    - Create image
    - Instance created from image (AMI) will need to be encrypted 
  - Snapshots of encrypted volumes are encrypted automatically
  
  ### CloudWatch 101
  
  - Cloudwatch monitors resource and compute performance 
  - Cloudtrail is like CCTV--it record user actions
  
  ### EFS
  
  - Supports NFSv4
  - Only pay for the storage you use
  - Elastic File Storage
  - One file storage can be attached/mounted on to more than one EC2 instance
  - Read after write consistency
  
  ### EC2 Placement Groups
  
  - A way of placing EC2 instances
    - Clustered Placement Group
      - Grouping of instances within single AZ
      - Put instances very very close to eachother
      - Low network latency, high network throughput 
    - Spread Placement Group
      - Group of instances placed on distinct racks/underlying racks
      - Can exist within different AZs within a region
      - Better for individual instances, designed to protect EC2 instances from hardware failure
    - Partitioned
      - Multiple instances can be in a partition group, partitions are in different racks. Partition 1 has instances A and B, but sits in a different rack than Partition 2.
      - Can exist in different AZs within a region
      - Multiple EC2 instances 
  - Placement group names must be unique
  - Existing instance can't be moved into a placement group, but you can relaunch an AMI and then launch a new instance from the AMI into the placement group.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
