createdAt: "2019-08-06T19:24:48.113Z"
updatedAt: "2019-11-14T16:57:01.080Z"
type: "MARKDOWN_NOTE"
folder: "a0297bfc77f01ccc53a6"
title: "CSA Exam - In My Own Words"
tags: []
content: '''
  # CSA Exam - In My Own Words
  
  - Study:
    - Customer Gateway
    - Dedicated hosts
    - Multi-AZ
  
  ## S3/IAM
  
  - _What is IAM?_
    - IAM is the authentication and authorization system/service used by AWS to control access for users and services.
  
  - Access Key IDs and Secret Access keys only authenticate against the AWS SKD/API
  - New users will be given passwords so that they can access the AWS Management Console
  - It is always best practice to set up MFA on the root account--but it is not mandatory.
  
  - _What's the difference between CloudWatch/CloudTrail?_
    - CloudWatch monitors your AWS Resources (think CPU/Memory usage, or even application logs)
    - ClouTrail monitors activity within your account--yes, that includes API calls.
  - Object size can range from 0 bytes to 5 TB
  - Remember the AWS Storage Tiers:
    - Standard storage has highest availability and durability, 99.9999999999% durability.
    - S3 IA (Infrequent Access) has data resiliency of 99.9%. Ideal for long-term storage, backups, and as a data store for disaster recovery files.
    - S3 One Zone IA has a data resiliency of 99.5%, lower cost than S3 Standard and S3 IA, but used for data that can be easily recovered.
    - S3 Glacier is data archival, super low cost but retrieval times are higher (minutes or hours, based on configuration)
    - S3 Glacier Deep Archive is the cheapest option S3 offers, but the retrieval time is within 12 hours. Data is retained 7-10 years
  - MFA Delete can be enabled for objects to avoid accidental deletion.
  - Versioned objects get soft deletes, unless deleting object versions themselves.
  - Transfer acceleration is referred to uploading content to edge locations rather than S3 directly, the edge location then uploads that file to S3.
  - The other side of "transfer acceleration" could be considered CloudFront, which caches files and responses in a CDN made of a collection of edge locations (called a distribution.)
  - AWS accounts can have up to 100 buckets by default
  - AWS Storage Gateway - Enables hybrid cloud storage between S3 and on-premise servers, seamless integration using standard storage protocols
  - All data stored in Storage Gateway is encrypted at rest by default
  - All data stored in Glacier is encrypted at rest by default.
  
  
  ## VPC
  
  - VPC are Virtual Private Clouds, meaning you have your own network inside of AWS' huge network. 
  - Security groups are stateful, meaning that you don't need to define both Inbound _and_ Outbound rules.
  - VPCs can connect across accounts via a _VPC Peering Connection_
    - VPC CIDR blocks **cannot** overlap. 
    - Each VPC owner must manually add a route that points to the IP address range of the other VPC.
  - By default, VPCs create Route ables, a Network ACL, and a security group
    - NACLs by default allow everything, Security Groups, by default, deny everything.
  - Subnets are not internet accessible and need to be assigned a public IP address.
  - There can only be one internet gateway per VPC, but one NAT gateway per AZ.
  - NAT gateway throughput scales from Gbps to 45 Gbps
  - Elastic Load Balancers require at least two public subnet associations
  - _What's the difference between AWS Direct Connect and AWS VPN?_
    - AWS Direct Connect allows the establishment of a dedicated and direct network connection between your network and AWS. It requires a physical connection between your data center and an AWS Direct Connect location
    - AWS VPN allows for a secure connection to your VPC by using a customer gateway and a virtual private gateway
  
  
  ## EC2 and EBS
  - EC2 and IP addressing
  - Reserved EC2 instances can be sold on the AWS Reserved Instance Marketplace
  - When assigning public IPs to EC2 instances, DNS hostnames are also assigned. 
  - EBS Storage classes:
    - General Purpose SSD:
      - Balances out cost and performance. Best used for most sue cases 
    - IOPS Provisioned SSD:
      - High Performance SSH, expensive, best for large database workloads
    - Throughput Optimized HDD
      - Low Cost HDD, low cost and frequent access, less performant than SSD but cheaper than SSD. Cannot be a boot volume, though.
    - Cold HDD 
      - Lowest cost HDD, designed for less accessed workloads.
  - Detaching an EBS volume:
    - EBS volumes can be detached from instances, although first they must be unmounted.
    - If it is the root device of an instance, the instance must be stopped before the volume is detached.
    -  
  - EBS volumes can only be attached to instances that are within the same availability zone. 
    - Making it available elsewhere involves creating a snapshot and restoring that snapshot in a new volume.
    - Snapshots can be copies to other regions.
  - _So what's the difference between AMIs and EBS Snapshots?_
    - AMIs are made from EBS volumes and provide information to launch an instance, launch permissions controling which AWS accounts can be used to launch instances from AMIs
  - Placement Groups - Where do I place my EC2 node based on this configuration?
    - **It is recommended that you launch the number of instances needed in a single launch request.**
    - **_The name you specify for a placement group must be unique within your AWS account for the Region._**
    - Spread placement groups: Can span multiple availability zones, with 7 instances per zone. They are _spread_ out among availablity zones. **S**even **s**pread.
    - Cluster placement groups are clusters of EC2 instances put into a single AZ.
    - Partition placement groups - EC2 instances grouped into partitions, partitions are placed into their own racks.
  - Elastic IP Addresses are static IP addresses which can point to different EC2 instances. 
  - EFS allows concurrent connections from multiple EC2 databases, while EBS doesn't.
  
  ## Encryption
  - S3: By default, bucket data is not encrypted. 
    - Turn on encryption at rest using server-side encryption with AWS keys (SSE-S3) or customer master keys (CMK).
    - _Server-side-encryption_ encrypts an object before saving it to disk and _decrypts it when downloading objects._
  - EBS: Encryption is chosen at the time you create the EBS volume.
    - Snapshots from encrypted EBS volumes will produce encrypted EBS volumes
    - You can encrypt unencrypted snapshots.
    - You cannot unencrupted encrypted snapshots
  - RDS: RDS data can be encrypted by enabling the encryption option.
    - Data in transit between read replicas and the source is encrypted.
  
  ## ElastiCache
  - Redis vs Memcached: 
    - Redis supports encryption, online cluster resizing, and is HIPAA eligible and PCI DSS compliant and is better for more complex caching and caching that requires pub/sub.
    - Memcached features auto-discovery and is good for very simple key/value string caching. 
  
  ## ENIs
  - Represents a virtual network card
  - Supports IPv6 addresses
  - Can be attached and retached to other instances. Network traffic gets redirected to the new instance.
  - Subnets have an attribute that specified whether or not all network interfaces get a public IP Address
  ---
  
  # AWS BluePrint
  
  ## Domain 1: Design Resilient Architectures
  
  1. Chose reliable/resilient storage:
  
  - There are four different types of commonly used AWS S3 tiers: 
    - Standard: Most generally used. You pay for storage. Offers 99.999999% resiliency.
    - S3 - IA: Offers 99.9% resiliency and is best suited for storage that is infrequently accessed. You pay per GB of retrieval
    - S3 - OneZone IA: Offers 99.5% resiliency, less resilient (obviously) given that it's only available in one zone. 
    - S3 - Glacier: Cheaper, still, and is used for data archival. Data retrieval can be minutes or hours. Again, you pay for retrieval.
    - S3 - Glacier Deep Archive: Cheapest option, used for long time data archival. Data retrieval takes up to 12 hours. Again, you pay for retrieval.
  - Other types of storage include EBS, which is pretty much storage for EC2 instances.
    - **All volume sizes go up to 16TiB** 
    - General Purpose SSD: Most common. Balances performance and cost. Minumum volume size is 1GiB with max throughput volume of 250 MiB/s. Offers low latency.
    - IOPS Provisioned SSD: Most performant (and most expensive). Minimum volume size is 4GiB. best for large databse workloads.
    - Throughput Optimized HDD: Low cost, used for frequently accessed throughput-intensive workloads. Pretty much if they're asking for low cost, high throughput, frequently access, this is your choice.
    - Cold HDD: Cheap! Throughput oriented but designed for less frequently accessed workloads.
  - Databases are also important to note here.
    - RDS is AWS' relational database service offering MySQL, PostgreSQL, SQLServer, Oracle, MariaDB, and Aurora.
      - You can choose to go with Multi-AZ deployments (for resiliency). When the primary instance fails the DNS name/record automatically points to the secondary instance found in a separate AZ. You can also choose to get read replicas, although those aren't supported for Oracle or SQL Server. Read replicas are best used for performance. 
      - ElastiCache can be placed in front of RDS instances to cache common queries and results
    - DynamoDB is a document-based database managed by AWS. You can provision memory on the fly.
  - AWS EFS - Amazon Elastic File System is simple, scalable file storage to be used with EC2. It's elastic because the capacity grows as needed.
  - _So which of these are encrypted?_
    - EBS can be encrypted--booth root and data volumes. Data at rest can be encrypted, as well as data moving between the volume and the instance. Subsequent snapshots created from the volume are also encrypted. 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
