createdAt: "2019-12-13T21:04:35.705Z"
updatedAt: "2019-12-13T21:28:45.066Z"
type: "MARKDOWN_NOTE"
folder: "a0297bfc77f01ccc53a6"
title: "ElastiCache Deep Dive and Best Practices"
tags: []
content: '''
  # ElastiCache Deep Dive and Best Practices
  
  ## Redis Streams
  - Producer add a value to stream using `XADD [streamname] * [message]`
  - Consumer Group allows multiple consumers to consume data using Redis streams
  - Redis has HA, Memacached does not. 
  - Redis supports snapshots
  - Redis vertically scaled topology (cluster-mode disabled)
    - Primary node with 0-5 replicas
    - All data lives in primary node
      - Primary for writes, replicas for reads
  - Horizontally scaled topology (horizontally scaled)
    - Zero-downtime scaling
    - Up to 15 shards
    - Data is divided into shards
    - Each shard has a range of slots
    - Configuration endpoint gets cluster slots info and decides which node has the data that is being requested
    - Each shard has 1 primary and 5 replicas
'''
linesHighlighted: []
isStarred: false
isTrashed: false
