createdAt: "2019-08-20T02:51:20.837Z"
updatedAt: "2019-08-20T02:51:31.291Z"
type: "MARKDOWN_NOTE"
folder: "eaeb58bb16445477f510"
title: "[3] Storage and Retrieval"
tags: []
content: "# [3] Storage and Retrieval"
linesHighlighted: []
isStarred: false
isTrashed: false
