createdAt: "2019-04-08T16:20:55.061Z"
updatedAt: "2019-04-08T16:21:09.932Z"
type: "MARKDOWN_NOTE"
folder: "ecbe1cced28a7e15366e"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
