createdAt: "2019-04-09T20:28:32.066Z"
updatedAt: "2019-04-09T20:37:24.252Z"
type: "MARKDOWN_NOTE"
folder: "a0297bfc77f01ccc53a6"
title: "AWS::CloudFormation::Stack - Nested Stacks"
tags: []
content: '''
  # [AWS::CloudFormation::Stack - Nested Stacks](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-stack.html)
  
  - Stacks can be declared within other stacks 
  - There are root stacks, parent stacks, child stacks (self-explanatory)
  - Stack updates should be initiated from the root stack
  - When passing in sensitive information, use the `NoEcho` property to obfuscate the parameter value
  - Use Change Sets when performing stack updates to see how the change will affect the stack
'''
linesHighlighted: []
isStarred: false
isTrashed: false
