createdAt: "2019-08-17T20:39:09.435Z"
updatedAt: "2019-08-17T20:39:24.078Z"
type: "MARKDOWN_NOTE"
folder: "eaeb58bb16445477f510"
title: "[2] Data Models and Query Languages"
tags: []
content: "# [2] Data Models and Query Languages"
linesHighlighted: []
isStarred: false
isTrashed: false
