createdAt: "2019-12-19T13:48:01.999Z"
updatedAt: "2019-12-19T14:06:16.025Z"
type: "MARKDOWN_NOTE"
folder: "481e1531acabf01ae5de"
title: "Elasticsearch"
tags: []
content: '''
  # Elasticsearch
  
  - Built on top of Apache Lucene, but Lucene is very complex so Elasticsearch acts as a facade on top of Lucene. 
  - All functionality is exposed via a simple REST API.
  - __Java API__: 
    - Node client: Joins cluster as non-data node, meaning it doesn't hold any data itself but knows that data lives on which node in the cluster, can forward requests directly to the correct node.
    - Transport client: Can be used to send request to a remote cluster, simply forwards requests to a node in the cluster. 
    - Both clients use port 9300 for comunication with Elasticsearch as well as with eachother. 
  - __RESTful API JSON/HTTP__:
    - Use port 9200 with a RESTful API 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
