createdAt: "2019-09-29T14:18:44.039Z"
updatedAt: "2019-09-29T14:27:39.438Z"
type: "MARKDOWN_NOTE"
folder: "fdfee90ea5e12c5b6d12"
title: "Turning the Database Inside Out"
tags: []
content: '''
  # Turning the Database Inside Out
  by Martin Kleppman
  [Source](https://www.confluent.io/blog/turning-the-database-inside-out-with-apache-samza/)
  
  - Database replication usually handled by having one node (master/parent) replicate data to other nodes (children) by:
    - Sending the same update query to the followers
    - Ship write-ahead log from leader to follower
    - Logical log - write out the effect the query had, identifying the row that was changed, giving the new value of that row and perhaps the old value.
  - Update statement is an impeartive state describing the state of the mutation
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
