createdAt: "2019-04-09T15:58:24.542Z"
updatedAt: "2019-04-09T16:26:38.720Z"
type: "MARKDOWN_NOTE"
folder: "05b25c92718374901b4e"
title: "Artists and their songs that I listen to that I need to remember for the life of me"
tags: []
content: '''
  # Artists and their songs that I listen to that I need to remember for the life of me
  
  ## Jazz 
  - Art Pepper
  - Lester Young
    -  Good Morning Blues
    -  That's All
  - Wayne Shorter
    - Valse Triste
  
  ## Alternative
  - Les Loaunges
'''
linesHighlighted: []
isStarred: false
isTrashed: false
