createdAt: "2019-04-08T16:03:39.867Z"
updatedAt: "2019-04-08T16:03:45.784Z"
type: "MARKDOWN_NOTE"
folder: "ecbe1cced28a7e15366e"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
