createdAt: "2019-11-26T13:37:32.996Z"
updatedAt: "2019-12-18T13:35:36.569Z"
type: "MARKDOWN_NOTE"
folder: "44ba65846ed8b969aec9"
title: "Chapter 3 - Data Flows"
tags: []
content: '''
  # Chapter 3 - Data Flows
  
  ## ACE Review
  - Data Flows: Moving, Processing, Remembering 
  - _Cloud Shell_: Shell hosted in a browser that allows you to manage GCP infrastructure and applications.
  - 
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
