createdAt: "2019-11-01T23:40:10.860Z"
updatedAt: "2019-11-01T23:49:46.596Z"
type: "MARKDOWN_NOTE"
folder: "a35348ee02dc115b8b2a"
title: "Abel Torres"
tags: []
content: '''
  Abel Torres
  
  - Looking for design?
    - Examples:
      - verywellfit.com
      - 
  - Blog posts have categories
  - Niche: Fitness training
  
  gegr93@gmail.com
  gabriel93
'''
linesHighlighted: []
isStarred: false
isTrashed: false
