createdAt: "2019-04-06T21:33:12.970Z"
updatedAt: "2019-04-06T21:46:58.455Z"
type: "MARKDOWN_NOTE"
folder: "a35348ee02dc115b8b2a"
title: "Zuul"
tags: [
  "spring-cloud-netflix"
]
content: '''
  # Zuul
  
  
  Netflix uses Zuul for the following: 
  - Authentication
  - Insights
  - Stress Testing
  - Canary Testing - minimal tests to quickly and automatically verify that everything you depend on is ready.
  - Dynamic Routing
  - Service Migration
  - Load Shedding
  - Security
  - Static Response handling
  - Active/Active traffic management
  
  #### Build Dependencies
  Zuul Dependency:
  Maven
  ```XML
  <dependency>
    <groupId>org.springframework.cloud</groupId>
    <artifactId>spring-cloud-starter-netflix-zuul</artifactId>
    <version>2.1.1.RELEASE</version>
  </dependency>
  ```
  Gradle
  ```Gradle
  implementation 'org.springframework.cloud:spring-cloud-starter-netflix-zuul:2.1.1.RELEASE'
  ```
  
  #### Embedded Zuul Proxy
  - Embeddd Zuul reverse proxy eases development of use case where UI application wants to mkae proxy calls to one or more back end services.
  - UI can make proxy calls to back end services required, avoiding the need to manager CORS and auth concerns independently for all the back ends.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
